**/.idea
**/__pycache__
test.py
tmp*
*.json
*.log
*.FCBak
**/*.swp
**/build
**/cmake-build-debug
**/cmake-build-release
**/dist
**/ballsbot_*.egg-info
**/ballsbot_*.cpp
ros_modules/*/CMakeCache.txt
ros_modules/*/CMakeFiles/
ros_modules/*/CTestConfiguration.ini
ros_modules/*/CTestCustom.cmake
ros_modules/*/CTestTestfile.cmake
ros_modules/*/Makefile
ros_modules/*/atomic_configure/
ros_modules/*/ballsbot_tca9548.cbp
ros_modules/*/catkin/
ros_modules/*/catkin_generated/
ros_modules/*/cmake/
ros_modules/*/.cmake/
ros_modules/*/cmake_install.cmake
ros_modules/*/devel/
ros_modules/*/gtest/
detection_model/saved_model.pb
detection_model/variables/*
